
/* https://www.heropatterns.com/ */

* { Box-sizing: Border-box }

@font-face {
    font-family: 'NationalPark-Regular';
    src: url("../fonts/NationalPark-Regular.otf") format("opentype");
    font-style: normal;
}


body{
    perspective:600px;
    padding-top:4em;
    /* background-color: #ffffff; */
}

#rainCover{
    max-width: 999px;
    margin: 0 auto;
    width: 100%;
    height: 121px;
    box-shadow: 0px -10px 5px #000;
    transform: rotate3d(10, 1, -3, 21deg) scaleX(-1) scaleY(-1);
    z-index: 1000;
    position: relative;
    top: 45px;
    left: 17px;
}



#signwrapper {
    display: grid;
    grid-template-columns: 1fr 1.5fr .5fr 1fr .5fr 1.5fr 1fr;
    grid-template-rows: 1fr .25fr;
    grid-column-gap: 44px;
    grid-row-gap: 0px;
}

#sign {
    grid-area: 1 / 2 / 2 / 7;
    transform: rotate3d(13, 1, 10, -2deg);
    z-index: 10;
    position: relative;
}
#leftPost { grid-area: 2 / 3 / 3 / 4; }
#rightPost { grid-area: 2 / 5 / 3 / 6; margin-top:-10px;}


#sign img{
    position: absolute;
    top: 50px;
    right: 30px;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -webkit-transform: rotate(5deg);
    width: 125px;
    height: auto;
    border-width: .5em .5em 1em .5em;
    border-color: #fff;
    border-style: solid;
}


.wood{
    background-color: #52410d;
    filter: sepia(14);
    -webkit-filter: sepia(14);
    text-shadow: 2px 2px 3px #39270f,-2px -2px 3px #39270f;
    font-family:'NationalPark-Regular';
    text-transform:uppercase;
    box-shadow: inset 5px 5px 15px #110d02,inset -5px -5px 15px #413207;
    background-image: url('/img/wood.svg')}


.wood-border{
    border-radius:3px;
    border: 15px dashed #5d3e14;
}

header{
    text-align:center;
    padding:10px;
}

header hr{
    box-shadow: 2px 2px 8px #39270f;
    color: #000;
    margin: 0;
    opacity: 0.1;
    position: relative;
    top: -30px;
    margin-left: -10px;
    margin-right: -10px;
}

header hr:nth-of-type(2){
    top:10px
}



    header h1{
        padding:15px 0;
        margin:0;
        color:rgba(248, 202, 56, 0.8);
        font-size:48px;
        font-weight:normal;
        letter-spacing: 10px;
        /* text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def; */

    }


    header h1:before{
        content:attr(title);
        position: absolute;
  margin: 2px 0 0 2px;
  color: #000;
  opacity: 0.2;
    }




    header strong{
        color: rgba(255, 253, 252, 0.8);
        letter-spacing: 7px;
        font-size: 22px;
        line-height: 22px;
    }

    header em{
        color: rgba(255, 255, 255, 1);
        letter-spacing: 7px;
        text-shadow: 0;
        font-size: 18px;
        font-style: normal;
        text-transform: none;
        letter-spacing: 2px;
        display: block;
        padding: 15px 0 25px;
    }

    header nav a{
        color:yellow;
        text-decoration:none;
        letter-spacing:1em;
        font-size:24px
    }



main{max-width:900px;margin:0 auto;padding:0;}


#aboutText{
        grid-area: 1 / 1 / 4 / 3;
        padding:3em;
        margin:2em;
        text-shadow:none;
    
    }


    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        }
        
        #patch { grid-area: 1 / 3 / 2 / 4; background:red;}
        .div2 { grid-area: 3 / 3 / 4 / 4; }
        #knowledge { grid-area: 2 / 3 / 3 / 4;
                background:#fff;
                padding:10px 10px 50px 10px;
                
                text-shadow:none;
                text-align: center;
    margin: 0 1em 0 0;
    transform: rotate(4deg);
    list-style-type: none;
    border: 2px solid #CCC;
    box-shadow: 1px 2px 5px #000;
        
        }
        #knowledge .bolt{margin:0 auto}
        #knowledge em {text-transform:none;font-style:italic;}
        #knowledge h3 {}
        #knowledge li {text-transform:none;list-style-type:none;margin-bottom:.24em}
        #knowledge ul {padding-left:0}


























.paper{background-color:#f3eacc}

.paper{position:relative}

.paper,
.paper::before,
.paper::after {
  /* Styles to distinguish sheets from one another */
  box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  border: 1px solid #bbb;
}

.paper::before,
.paper::after {
  content: "";
  position: absolute;
  height: 95%;
  width: 99%;
  background-color: #f3eacc;
}

.paper::before {
  right: 15px;
  top: 0;
  transform: rotate(-1deg);
  z-index: -1;
}

.paper::after {
  top: 5px;
  right: -5px;
  transform: rotate(1deg);
  z-index: -2;
  box-shadow:1px 25px 25px #3a0505
}








/* Footers  */

footer{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}



#footerContent { grid-area: 2 / 1 / 3 / 6; }
#leftFooterPost{grid-area: 1 / 2 / 2 / 3;}
#rightFooterPost{ grid-area: 1 / 4 / 2 / 5;}


#leftFooterPost,
#rightFooterPost{
    height:180px;
    min-height:200px;
    height: 180px;
    min-height: 200px;
    width: 80px;
    margin: 0 auto;
}

















































.bolt{
    width:12px;height:12px;
    font-weight:bold;
    font-size:16px;
    line-height:16px;
    display:block;
    color:#3a0a0a;
}

.bolt::after{
    content:'☼'
}


header div.bolt:nth-of-type(1),
header div.bolt:nth-of-type(3){
   position: absolute;
   right:32%;
}

header div.bolt:nth-of-type(2),
header div.bolt:nth-of-type(4){
    position:absolute;
    left:32%;
}

header div.bolt:nth-of-type(3),
header div.bolt:nth-of-type(4){
    bottom:22px;
}


















/* Put a bird on it */
/*
https://codepen.io/matchboxhero/pen/RLebOY?editors=1100
*/



#birdBox {
    opacity: 0.6;
    overflow: hidden;
    position: relative;
    height:100px;
    z-index: 0;
    top: 500px;
    
}

.bird {
  background-image: url('/img/birds.svg');
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  -webkit-animation-name: fly-cycle;
          animation-name: fly-cycle;
  -webkit-animation-timing-function: steps(10);
          animation-timing-function: steps(10);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.bird--one {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.bird--two {
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-delay: -0.75s;
          animation-delay: -0.75s;
}
.bird--three {
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-delay: -0.25s;
          animation-delay: -0.25s;
}
.bird--four {
  -webkit-animation-duration: 1.1s;
          animation-duration: 1.1s;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.bird-container {
  position: absolute;
  top: 20%;
  left: -10%;
  -webkit-transform: scale(0) translateX(-10vw);
          transform: scale(0) translateX(-10vw);
  will-change: transform;
  -webkit-animation-name: fly-right-one;
          animation-name: fly-right-one;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.bird-container--one {
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
.bird-container--two {
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.bird-container--three {
  -webkit-animation-duration: 14.6s;
          animation-duration: 14.6s;
  -webkit-animation-delay: 9.5s;
          animation-delay: 9.5s;
}
.bird-container--four {
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
  -webkit-animation-delay: 10.25s;
          animation-delay: 10.25s;
}

@-webkit-keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}
@-webkit-keyframes fly-right-one {
  0% {
    -webkit-transform: scale(0.3) translateX(-10vw);
            transform: scale(0.3) translateX(-10vw);
  }
  10% {
    -webkit-transform: translateY(2vh) translateX(10vw) scale(0.4);
            transform: translateY(2vh) translateX(10vw) scale(0.4);
  }
  20% {
    -webkit-transform: translateY(0vh) translateX(30vw) scale(0.5);
            transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30% {
    -webkit-transform: translateY(4vh) translateX(50vw) scale(0.6);
            transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  40% {
    -webkit-transform: translateY(2vh) translateX(70vw) scale(0.6);
            transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  50% {
    -webkit-transform: translateY(0vh) translateX(90vw) scale(0.6);
            transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60% {
    -webkit-transform: translateY(0vh) translateX(110vw) scale(0.6);
            transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  100% {
    -webkit-transform: translateY(0vh) translateX(110vw) scale(0.6);
            transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}
@keyframes fly-right-one {
  0% {
    -webkit-transform: scale(0.3) translateX(-10vw);
            transform: scale(0.3) translateX(-10vw);
  }
  10% {
    -webkit-transform: translateY(2vh) translateX(10vw) scale(0.4);
            transform: translateY(2vh) translateX(10vw) scale(0.4);
  }
  20% {
    -webkit-transform: translateY(0vh) translateX(30vw) scale(0.5);
            transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30% {
    -webkit-transform: translateY(4vh) translateX(50vw) scale(0.6);
            transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  40% {
    -webkit-transform: translateY(2vh) translateX(70vw) scale(0.6);
            transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  50% {
    -webkit-transform: translateY(0vh) translateX(90vw) scale(0.6);
            transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60% {
    -webkit-transform: translateY(0vh) translateX(110vw) scale(0.6);
            transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  100% {
    -webkit-transform: translateY(0vh) translateX(110vw) scale(0.6);
            transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}
@-webkit-keyframes fly-right-two {
  0% {
    -webkit-transform: translateY(-2vh) translateX(-10vw) scale(0.5);
            transform: translateY(-2vh) translateX(-10vw) scale(0.5);
  }
  10% {
    -webkit-transform: translateY(0vh) translateX(10vw) scale(0.4);
            transform: translateY(0vh) translateX(10vw) scale(0.4);
  }
  20% {
    -webkit-transform: translateY(-4vh) translateX(30vw) scale(0.6);
            transform: translateY(-4vh) translateX(30vw) scale(0.6);
  }
  30% {
    -webkit-transform: translateY(1vh) translateX(50vw) scale(0.45);
            transform: translateY(1vh) translateX(50vw) scale(0.45);
  }
  40% {
    -webkit-transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
            transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
  }
  50% {
    -webkit-transform: translateY(0vh) translateX(90vw) scale(0.45);
            transform: translateY(0vh) translateX(90vw) scale(0.45);
  }
  51% {
    -webkit-transform: translateY(0vh) translateX(110vw) scale(0.45);
            transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
  100% {
    -webkit-transform: translateY(0vh) translateX(110vw) scale(0.45);
            transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
}
@keyframes fly-right-two {
  0% {
    -webkit-transform: translateY(-2vh) translateX(-10vw) scale(0.5);
            transform: translateY(-2vh) translateX(-10vw) scale(0.5);
  }
  10% {
    -webkit-transform: translateY(0vh) translateX(10vw) scale(0.4);
            transform: translateY(0vh) translateX(10vw) scale(0.4);
  }
  20% {
    -webkit-transform: translateY(-4vh) translateX(30vw) scale(0.6);
            transform: translateY(-4vh) translateX(30vw) scale(0.6);
  }
  30% {
    -webkit-transform: translateY(1vh) translateX(50vw) scale(0.45);
            transform: translateY(1vh) translateX(50vw) scale(0.45);
  }
  40% {
    -webkit-transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
            transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
  }
  50% {
    -webkit-transform: translateY(0vh) translateX(90vw) scale(0.45);
            transform: translateY(0vh) translateX(90vw) scale(0.45);
  }
  51% {
    -webkit-transform: translateY(0vh) translateX(110vw) scale(0.45);
            transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
  100% {
    -webkit-transform: translateY(0vh) translateX(110vw) scale(0.45);
            transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
}



.cloud{
   border-radius: 50%;
   width: 500px;
  height: 275px;
    position: absolute;
 
}


#cloudOne {
    filter: url(#cloudFilterOne);
    box-shadow: 400px 400px 60px 0px #fff;
       top: -420px;
    left: 420px;
}

#cloudTwo {
    filter: url(#cloudFilterTwo);
    box-shadow: 400px 400px 60px 0px #fff;
       top: -20px;
    left: -320px;
}

#cloudThree {
    filter: url(#cloudFilterThree);
    box-shadow: 400px 400px 60px 0px #fff;
       top: 320px;
    right: 220px;
}